.service-banner {
  background-image: url("/images/services-section/testimonials-web-design-scaled.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  height: 635px;
  position: relative;
}

.service-empty-space {
  height: 475px;
}

.srv-inner {
  padding: 0 15px;
  width: 100%;
}
.srv-wrapper {
  margin-bottom: 15px;
}
.service-banner h1 {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.service-banner p {
  color: rgb(255, 255, 255);
}
.srv-empty-space-bottom {
  height: 2px;
  width: 60px;
  margin-bottom: 60px;
  border: 2px solid #548cc1;
}

/* SECTION 2*/

.serviceSection {
  padding: 76px 0px;
  background-color: #eef1f6;
}
.serviceSection-wrapper {
  display: flex;
  width: 100%;
}
.serviceSection-left {
  width: 33.333%;
}
.serviceSection-right {
  width: 66.667%;
}
.serviceSection-left-inner {
  padding: 0px 15px;
}
.serviceSection-left-inner h2 {
  font-weight: 400;
  color: #393939;
}

.serviceSection-right-inner {
  padding: 12px 15px 0px;
}
.serviceSection-right-inner p {
  color: #393939;
  font-weight: 500;
  margin-bottom: 20px;
}
.serviceSection-right-inner h3 {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 12px;
  color: #000;
  font-weight: 400;
}
.serviceSection-right-inner strong {
  font-weight: 700;
}
.serviceSection-right-inner a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
}
.serviceSection-right-inner a:hover {
  color: #337ab7;
}
.serviceSection-right-inner ul {
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #393939;
}

/* SECTION 3*/
.serviceSection-grid {
  position: relative;
  border-bottom: 2px solid #275a8a;
}
.serv3-content {
  padding: 100px 80px 100px 0px;
  width: 43%;
}
.serv3-wrapper {
  display: flex;
  justify-content: flex-start;
}

.serv3-wrapper h2 {
  font-size: 26px;
  line-height: 37px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #275a8a;
}
.serv3-wrapper p {
  margin-bottom: 15px;
  color: #393939;
  font-weight: 400;
}
.serv3-wrapper a {
  color: #3a6995;
  font-size: 16px;
  font-style: italic;
  text-decoration: none;
}
.serv3-wrapper a:hover {
  text-decoration: underline;
}

.serv-image {
  right: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 57%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.serv-image-1 {
  background-image: url("/images/services-section/images-section/custom-web-design-3.jpg");
}
.serv-image-2 {
  background-image: url("/images/services-section/images-section/ai-powered-design.jpg");
}
.serv-image-3 {
  background-image: url("/images/services-section/images-section/responsive-web-design-3.jpg");
}
.serv-image-4 {
  background-image: url("/images/services-section/images-section/brand-identity-strategy.jpg");
}
.serv-image-5 {
  background-image: url("/images/services-section/images-section/search-engine-marketing-4.jpg");
}
.serv-image-6 {
  background-image: url("/images/services-section/images-section/maintenance-analytics.jpg");
}
.no-border {
  border: none;
}
