.width-container {
  margin: 0px auto;
  max-width: 100%;
  padding: 0 20px;
  width: 1200px;
}
.work-section-wrapper {
  padding: 76px 0px;
}
.work-background {
  background-color: #eef1f6;
}

.work-content-wrapper {
  display: flex;
  width: 100%;
}

.work-left-content {
  width: 33.333%;
}

.work-content-wrapper h2 {
  color: #393939;
  font-weight: 500;
}

.work-right-content {
  width: 66.666%;
  padding-top: 12px;
}
.work-right-inner {
  padding: 0 15px;
}
.work-content-wrapper p {
  color: #393939;
  font-weight: 500;
  margin-bottom: 20px;
}
.work-content-wrapper a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
}
.work-content-wrapper a:hover {
  color: #337ab7;
}

.work-grid {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  max-width: 100vw;
  overflow: hidden;
  border-bottom: 2px solid #275a8a;
}

.work-content {
  padding: 100px 102px 100px 0px;
  width: 40%;
  z-index: 1;
}

.work-image-outer {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(100vw - 800px);
  z-index: 0;
  margin-left: -120px;
}

.background-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.work-content h2 {
  font-size: 26px;
  line-height: 37px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #275a8a;
}

.work-content p {
  font-weight: 400;
  color: #393939;
  margin-bottom: 15px;
}
.work-content a {
  font-weight: 500;
  color: #275a8a;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 15px;
}
.work-content a:hover {
  text-decoration: underline;
}

.corporate {
  background-image: url("/images/work-section/corporate.jpg");
}
.healthcare {
  background-image: url("/images/work-section/health.jpg");
}
.government {
  background-image: url("/images/work-section/government.jpg");
}
.education {
  background-image: url("/images/work-section/education.jpg");
}
.technology {
  background-image: url("/images/work-section/technology.jpg");
}
.nonprofit {
  background-image: url("/images/work-section/nonprofit.jpg");
}
.ecommerce {
  background-image: url("/images/work-section/ecommerce.jpg");
}
.brandIdentity {
  background-image: url("/images/work-section/brandIdentity.jpg");
}
.searchEngine {
  background-image: url("/images/work-section/searchEngine.jpg");
}

.work-parallax-section {
  background-image: url("/images/work-section/responsive-web-design-2-scaled.jpg");
  background-position: 50% 0;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  height: 800px;
}

.wps-inner {
  font-size: 50px;
  line-height: 69px;
  font-weight: 400;
}
