@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.background1 {
  background-image: url("/images/caseStudy/intel/intel-caseStudy.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.background2 {
  background-image: url("/images/caseStudy/intel/intel1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 160vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.two-content h2 {
  width: 65vw;
  text-align: justify;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  font-size: 3.3vw;
  color: rgb(58, 58, 58);
  line-height: 4.2vw;
}

.background3 {
  position: relative;
  background-image: url("/images/caseStudy/intel/background3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.three-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 65vh;
  padding-left: 3vw;
  text-align: left;
}

.three-content h2 {
  width: 32vw;
  font-family: "Raleway", sans-serif;
  font-size: 4vw;
  line-height: 4.5vw;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.571);
}

.three-divider {
  width: 50px;
  border-bottom: 3px red solid;
  margin: 1vw;
}

.three-content p {
  width: 32vw;
  font-family: "Raleway", sans-serif;
  font-size: 1.5vw;
  color: rgba(0, 0, 0, 0.645);
  line-height: 1.5;
}

.nest {
  margin-left: 10vw;
  width: 20vw;
  height: 20vw;
  background-image: url("/images/caseStudy/intel/nest.webp");
  background-repeat: no-repeat;
  background-size: contain;
}

.background4 {
  background-color: #8acde8;
  height: auto;
  padding: 5vw 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vw;
}

.phone1,
.phone2 {
  background-size: contain;
  background-repeat: no-repeat;
  width: 20vw;
  height: 40vw;
}
.phone1 {
  background-image: url("/images/caseStudy/intel/phone1.webp");
}
.phone2 {
  background-image: url("/images/caseStudy/intel/phone2.webp");
}

.four-content {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.four-content h2 {
  font-size: 4vw;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  color: #4d4d4d;
  line-height: 1.6;
  width: 40vw;
  margin-right: 1vw;
}

.four-content p {
  width: 40vw;
  font-family: "Raleway", sans-serif;
  font-size: 1.5vw;
  color: rgba(0, 0, 0, 0.645);
  line-height: 1.6;
  margin-right: 1vw;
}

.four-divider {
  width: 50px;
  border-bottom: 3px rgb(234, 249, 66) solid;
  margin: 20px;
}
.background5 {
  background-color: #213649;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.five-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vw;
}
.five-content h1 {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 4vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  font-weight: 500;
}
.five-content button {
  width: 12vw;
  height: 4vw;
  font-family: "Raleway", sans-serif;
  font-size: 2vw;
  background-color: #fcee1e;
  color: #4d4d4d;
  margin-bottom: 2vw;
  border: none;
}
.background5 img {
  margin-top: 3vw;
}
.five-content button:hover {
  background-color: #d9cd1f;
  color: white;
}
/* Responsive changes */
@media (max-width: 1024px) {
  .background2 h2 {
    width: 80vw;
    font-size: 4vw;
    line-height: 4.5vw;
  }

  .three-content h2 {
    width: 40vw;
    font-size: 3.5vw;
    margin-bottom: 1vw;
  }

  .three-content p {
    width: 40vw;
    font-size: 2vw;
  }

  .nest {
    width: 36vw;
    height: 36vw;
  }

  .phone1,
  .phone2 {
    width: 20vw;
    height: 40vw;
  }

  .four-content h2 {
    font-size: 4.2vw;
    width: 45vw;
    text-align: left;
  }

  .four-content p {
    width: 45vw;
    font-size: 2vw;
  }
  .five-content h1 {
    font-size: 6vw;
  }
  .five-content button {
    font-size: 3vw;
    width: 20vw;
    height: 5vw;
  }
}

@media (max-width: 768px) {
  .background1 {
    height: 50vh;
  }
  .background2 h2 {
    font-size: 5vw;
    line-height: 7vw;
    margin-bottom: 5vw;
  }
  .background3 {
    background-color: antiquewhite;
    background-image: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .three-content h2 {
    margin-top: 3vw;
    width: 80vw;
    font-size: 7vw;
    text-align: center;
    line-height: 1.5;
  }

  .three-content p {
    height: 40vh;
    width: 80vw;
    font-size: 3.5vw;
  }

  .nest {
    width: 32vw;
    height: 32vw;
    margin-bottom: 10vw;
    overflow: hidden;
    box-sizing: border-box;
  }
  .background4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .phone1,
  .phone2 {
    width: 40vw;
    height: 80vw;
  }
  .four-content {
    width: 65vw;
  }

  .four-content h2 {
    font-size: 6vw;
    width: 65vw;
    text-align: center;
  }

  .four-content p {
    width: 65vw;
    font-size: 3vw;
    text-align: center;
  }
  .five-content h1 {
    font-size: 8vw;
    margin-bottom: 5vw;
  }
  .five-content button {
    font-size: 4vw;
    width: 30vw;
    height: 10vw;
  }
}

@media (max-width: 432px) {
  .background1 {
    height: 50vh;
  }
  .background2 {
    height: 75vh;
  }
  .background2 h2 {
    font-size: 6vw;
    line-height: 8vw;
    margin-bottom: 5vw;
  }

  .background3 {
    background-color: antiquewhite;
    background-image: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .three-content h2 {
    margin-top: 3vw;
    width: 85vw;
    font-size: 8vw;
    text-align: center;
    line-height: 1.5;
  }

  .three-content p {
    height: 10vh;
    width: 85vw;
    font-size: 4vw;
  }

  .nest {
    width: 35vw;
    height: 35vw;
    margin-bottom: 10vw;
    overflow: hidden;
    box-sizing: border-box;
  }

  .background4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .phone1,
  .phone2 {
    width: 42vw;
    height: 84vw;
  }

  .four-content {
    width: 70vw;
  }

  .four-content h2 {
    font-size: 7vw;
    width: 70vw;
    text-align: center;
  }

  .four-content p {
    width: 70vw;
    font-size: 3.5vw;
    text-align: center;
  }
  .five-content h1 {
    font-size: 8vw;
    margin-bottom: 5vw;
  }
  .five-content button {
    font-size: 4vw;
    width: 30vw;
    height: 10vw;
  }
  .five-content img {
    margin-top: 10vw;
  }
}
