@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.about-banner {
  /* margin-top: 80px; */
  background-image: url("/images/about-section/web-design-atlanta-scaled.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 635px;
  position: relative;
}

.about-empty-space {
  height: 475px;
}

.ab-inner {
  padding: 0 15px;
  width: 100%;
}
.ab-wrapper {
  margin-bottom: 15px;
}
.about-banner h1 {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 18px;
  font-weight: 600;
  color: white;
}

.about-banner p {
  color: rgb(255, 255, 255);
}
.about-empty-space-bottom {
  height: 2px;
  width: 60px;
  margin-bottom: 60px;
  border: 2px solid #548cc1;
}

/* Section 2 */
.aboutSection {
  padding: 76px 0px;
  background-color: #eef1f6;
}
.aboutSection-wrapper {
  display: flex;
  width: 100%;
}
.aboutSection-left {
  width: 33.333%;
}
.aboutSection-right {
  width: 66.667%;
}
.aboutSection-left-inner {
  padding: 0px 15px;
}
.aboutSection-left-inner h2 {
  font-weight: 500;
  color: #393939;
}
.aboutSection-left-inner span {
  color: #27598c;
}
.aboutSection-right-inner {
  padding: 0px 15px;
}
.aboutSection-right-inner p {
  color: #393939;
  font-weight: 500;
  margin-bottom: 20px;
}
.aboutSection-right-inner strong {
  font-weight: 700;
}
.aboutSection-right-inner a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
}
.aboutSection-right-inner a:hover {
  color: #337ab7;
}
.aboutSection-right-inner ul {
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #393939;
}
