@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* SECTION 1 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
p {
  font-size: 18px;
  line-height: 28px;
}
h2 {
  font-size: 50px;
  line-height: 67px;
}
h3 {
  font-size: 24px;
  line-height: 26px;
}
.width-container {
  margin: 0px auto;
  max-width: 1200px;
  width: 100%;
  height: 100%;
}
.section1-container {
  background-color: #eef1f6;
}
.section1-homepage {
  display: flex;
  padding: 76px 0;
  align-items: center;
}

.section1-left-content,
.section1-right-content {
  padding: 0 15px;
}
.section1-left-content {
  width: 40%;
}
.section1-right-content {
  width: 60%;
}

.section1-homepage span {
  color: #27598c;
}
.section1-homepage h2 {
  font-weight: 500;
  color: #393939;
}
.section1-homepage p {
  margin-bottom: 12px;
  font-weight: 500;
  color: #393939;
}

.section1-homepage p b {
  font-weight: 700;
}

@media (max-width: 768px) {
  .section1-left-content,
  .section1-right-content {
    max-width: 100%;
    text-align: center;
  }
  .section1-homepage {
    flex-direction: column;
  }
  .section1-homepage h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .section1-homepage p {
    margin-bottom: 20px;
  }
}

@media (max-width: 432px) {
  .section {
    padding: 10px;
    height: auto;
  }

  .left-content,
  .right-content {
    max-width: 100%;
    padding: 10px;
  }

  .section h2 {
    font-size: 1.5rem;
  }

  .section h3 {
    font-size: 1.4rem;
  }

  .section p {
    font-size: 0.9rem;
  }

  .section p b {
    font-size: 1rem;
  }
}

/*section2*/

.capabilities {
  padding: 35px 0px;
  background-color: #eef1f6;
}
.inner-heading {
  padding: 0 15px;
  padding-top: 12px;
}
.inner-heading p {
  font-size: 16px;
  line-height: 26px;
  color: #275a8a;
  font-weight: 500;
  margin-bottom: 20px;
}
.inner-heading h2 {
  font-size: 52px;
  color: #393939;
  text-align: center;
  font-weight: 400;
  margin-bottom: 40px;
  padding: 30px 0px;
}
.capabilities-row {
  display: flex;
}
.column-container {
  padding: 0 15px;
  width: 100%;
}
.column-inner {
  border-right: 1px solid #979797;
  padding-right: 30px;
}
.column-heading {
  color: #4f7097;
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}

.column-content {
  color: #606061;
  text-align: center;
}
.column-link {
  text-align: center;
  padding-top: 50px;
  font-style: italic;
}
.column-link a {
  color: #4f7097;
  text-decoration: none;
}
.column-heading-padding {
  padding-top: 60px;
}
.border-none {
  border: none;
}

/* CLIENT SECTION */

.client-container {
  background: url("/images/backgrounds/backgroundImage.jpg") no-repeat fixed;
  background-size: cover;
  padding: 30px 0px 76px;
}
.client-row1 {
  margin-bottom: 38px;
}
.client-row1 p {
  font-size: 16px;
  color: #ffffff;
  line-height: 26px;
  padding-bottom: 12px;
}
.client-row2 {
  display: flex;
  align-items: center;
  border-bottom: 1px #979797 solid;
}
.client-row2 img {
  width: 300px;
  height: 300px;
}
.image-wrapper {
  padding: 40px 0;
}

@media (max-width: 768px) {
  .client-container {
    background-image: none;
    background-color: #5f6167;
  }

  .row1 {
    flex-direction: column;
    gap: 30px;
  }

  .row1 img {
    width: 316px;
    height: 316px;
  }

  .smallDiv {
    display: flex;
  }
}

/* Award Section */
.award-container {
  padding: 38px 0 76px;
}
.heading {
  margin: 0 0 38px;
  padding: 0 15px;
}
.heading p {
  font-size: 16px;
  color: #275a8a;
  line-height: 26px;
  padding: 0 0 12px;
}
.awards-wrapper {
  display: flex;
}

.award {
  padding: 0 15px;
  width: 100%;
}

.award p {
  color: #4f7097;
  text-align: center;
}
.innerAward {
  padding-right: 30px;
  border-right: 1px solid #979797;
}
.goodFirms {
  height: 127px;
  padding: 20px;
}
.goodFirms img {
  background-color: grey;
  width: 110;
  height: 79.61px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .award img {
    border: 1px solid rgba(41, 41, 41, 0.442);
    margin-bottom: 10px;
  }

  .award p {
    color: #4f7097;
  }

  .awards {
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  .awardDiv {
    display: none;
  }

  .heading {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 50px;
  }
}

/* BLOG SECTION */
.blog-title p {
  color: #275a8a;
  font-size: 16px;
  line-height: 26px;
}
.blog-title {
  background-color: #eef1f6;
}
.blog-title-inner {
  padding: 35px 15px 38px;
}
.blog-section {
  padding: 40px 0;
  border-bottom: 1px solid #b0b0b0;
  transition: 0.3s ease-in;
}
.blog-post {
  padding: 0 15px;
}
.blog-post p {
  color: #275a8a;
  margin-bottom: 12px;
}
.blog-post h2 {
  line-height: 32px;
  font-weight: 400;
  color: #393939;
  margin-bottom: 30px;
}
.time {
  font-size: 14px;
  line-height: 22px;
  font-family: "Playfair-Display";
  color: #929aa7;
}
.line {
  padding: 0 12px;
}

.blog-section:hover {
  background-color: #275a8a;

  h2 {
    color: white;
  }
  p {
    color: white;
  }
  span {
    color: white;
  }
}
@media (max-width: 768px) {
  .blog div {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .blog h1 {
    margin: 5px;
    font-size: 20px;
    font-weight: 400;
  }
  .blog h3 {
    margin: 5px;
    font-size: 15px;
    font-weight: 400;
  }
  .blog p {
    font-size: 12px;
  }
}
