@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");
/*form */

body,
html {
  overflow-x: hidden;
}

.form-container {
  font-family: "Raleway", sans-serif;
  background-color: #3f4247;
  color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}

.form-container h1 {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
  padding: 15px;
  margin: 15px 0;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  background-color: transparent;
  color: white;
  font-size: 16px;
  width: 48%;
  box-sizing: border-box;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input[type="text"][placeholder="Please describe your project*"] {
  width: 100%;
}

input[type="submit"] {
  width: 100%;
}

@media (max-width: 768px) {
  form {
    flex-direction: column;
    width: 100%;
  }

  input {
    width: 100%;
  }

  input[type="text"],
  input[type="email"],
  input[type="submit"] {
    width: 100%;
    max-width: none;
  }
}

/* map section*/
.map-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 20px;
  background-color: #3f4247;
  width: 100%;
  box-sizing: border-box;
}

.map-container a {
  flex: 1;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .map-container {
    flex-direction: column;
  }

  img {
    margin-bottom: 10px;
  }
}
/* footer section*/
.footer {
  background-color: #3f4247;
  padding: 40px 20px;
  color: #ccc;
  font-family: "Raleway";
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
  text-align: left;
}

.footer-section h4 {
  font-size: 24px;
  margin-bottom: 40px;
  color: #fff;
  font-weight: 300;
}

.footer-contact h5 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 700;
}

.footer-contact p {
  font-size: 16px;
  margin: 0;
  line-height: 2;
}

.footer-contact a {
  font-size: 16px;
  color: #ccc;
  line-height: 2;
}

.footer-contact a:hover {
  text-decoration: underline;
}

.info ul {
  list-style-type: none;
  padding: 0;
  font-size: 16px;
  line-height: 1.4;
}

.info ul li {
  margin-bottom: 10px;
}

.info ul li a {
  color: #ccc;
  text-decoration: none;
}

.info ul li a:hover {
  color: #fff;
}

.social-icons a {
  margin-right: 15px;
  display: inline-block;
}

.social-icons img {
  width: 24px;
  height: 24px;
}
.social-icons img:hover {
  filter: invert(100%);
}

.logo img {
  padding: 10px;
  width: 180px;
  margin: 0 auto;
  display: block;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    margin: 20px 0;
    text-align: center;
  }

  .social-icons a {
    margin-right: 10px;
  }
}
