.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 15px;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: transform 0.3s ease-out, background-color 0.3s ease-out;
}

.navbar-transparent {
  background-color: transparent;
}

.navbar-background {
  height: 65px;
  background-color: rgba(255, 255, 255, 0.91);
}

.navbar.hidden {
  transform: translateY(-100%);
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding-top: 10px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-links li {
  position: relative;
}

.dropbtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 20px 20px;
  position: relative;
  z-index: 11;
}

.dropbtn img {
  width: 24px;
  height: 24px;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

img.dropdown-icon {
  opacity: 1;
}

img.close-icon {
  opacity: 0;
  z-index: 2;
}

.dropdown-open img.dropdown-icon {
  opacity: 0;
}

.dropdown-open img.close-icon {
  opacity: 1;
}

.dropdown-content {
  position: fixed;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  padding-top: 100px;
  background-color: #27598c;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  z-index: 10;
  visibility: visible;
  opacity: 1;
}
.link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.links {
  width: 50vw;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: #ffffff;
  padding: 12px 44px;
  text-align: left;
  text-decoration: none;
}

.links:hover {
  background-color: #ffffff;
  color: #27598c;
}
.navbar-social-icons {
  padding-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
}
.navbar-social-icons img {
  width: 40px;
  height: 40px;
  margin: 20px;
  filter: invert(100%);
  transition: 0.2s ease-in-out;
}
.dropdown-content p {
  color: #ffffff;
  padding-left: 40px;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  padding-bottom: 40px;
}

.navbar-social-icons img:hover {
  transform: scale(150%);
}

@media (max-width: 768px) {
  .dropdown-content {
    width: 100vw;
    height: 100vh;
    padding: 50px 20px;
  }
  .links {
    font-size: 20px;
  }
  .dropdown-content p {
    font-size: 15px;
  }
  .navbar-social-icons img {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 432px) {
  .dropdown-content {
    width: 100vw;
    height: 100vh;
    padding: 50px 15px;
  }
  .links {
    font-size: 18px;
  }
  .dropdown-content p {
    font-size: 12px;
  }
  .navbar-social-icons img {
    width: 24px;
    height: 24px;
  }
}
