/* General Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 15px;
  top: 0;
  width: 100vw;
  z-index: 999;
  transition: transform 0.3s ease-out, background-color 0.3s ease-out;
}

.navbar-transparent {
  background-color: transparent;
}

.navbar-background {
  height: 65px;
  background-color: rgba(255, 255, 255, 0.91);
}

.navbar.hidden {
  transform: translateY(-100%);
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding-top: 10px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-links li {
  position: relative;
}

/* Dropdown button styles */
.dropbtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 20px 20px;
  position: relative;
  z-index: 11;
}

.dropbtn img {
  width: 24px;
  height: 24px;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

/* Icons for open/close */
img.dropdown-icon {
  opacity: 1;
}

img.close-icon {
  opacity: 0;
  z-index: 2;
}

.dropdown-open img.dropdown-icon {
  opacity: 0;
}

.dropdown-open img.close-icon {
  opacity: 1;
}

/* Dropdown content */
.dropdown-content {
  position: fixed;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  padding: 100px 30px;
  background-color: #275a8c;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  z-index: 10;
  visibility: visible;
  opacity: 1;
}

/* Dropdown links */
.dropdown-content a {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c2c2ca;
  padding: 12px 16px;
  text-align: left;
  text-decoration: none;
}

.dropdown-content a:hover {
  color: #e0e0e0;
}

/* Media queries for mobile responsiveness */
@media (max-width: 768px) {
  .dropdown-content {
    width: 100vw; /* Take full width on smaller screens */
    height: 100vh; /* Take full height */
    padding: 50px 20px; /* Adjust padding for smaller screens */
  }
  .dropdown-content a {
    font-size: 20px; /* Adjust font size for tablets */
  }
}

@media (max-width: 432px) {
  .dropdown-content {
    width: 100vw; /* Full width on mobile */
    height: 100vh; /* Full height on mobile */
    padding: 50px 15px; /* Smaller padding for mobile */
  }
  .dropdown-content a {
    font-size: 18px; /* Adjust font size for mobile */
  }
}
