.parallax-section {
  position: relative;
  height: 700px;
  width: 100%;
  background-image: url("/images/backgrounds/image2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: 50% 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.parallax-inner {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.parallax-inner h2 {
  font-size: 50px;
  color: #ffffff;
  line-height: 69px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.parallax-inner p {
  text-align: center;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.parallax-section-2 {
  position: relative;
  height: 700px;
  background-image: url("/images/backgrounds/backgroundImage.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}
.divider {
  background-color: #39393971;
}
@media (max-width: 768px) {
  .parallax-section-2 {
    height: 400px;
  }
  .parallax-section {
    height: 400px;
  }
}
