.parallax-section {
  height: 700px;
  background: url("/images/backgrounds/image2.jpg") no-repeat scroll;
  background-position: 50% 0;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
}

.parallax-inner {
  padding: 0 15px;
  width: 100%;
}

.parallax-inner h2 {
  font-weight: 400;
  color: #fff;
}

.parallax-inner p {
  font-weight: 400;
  color: #fff;
}

.parallax-section-2 {
  position: relative;
  height: 700px;
  background-image: url("/images/backgrounds/backgroundImage.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}
.divider {
  background-color: #39393971;
}
@media (max-width: 768px) {
  .parallax-section-2 {
    height: 400px;
  }
  .parallax-section {
    height: 400px;
  }
}
